.feedback-main
{
    height: 100dvh;
    /* background: purple; */
    padding: 5rem 10rem;
    display: flex;
    justify-content:space-evenly;
}
.feedback-img
{
    width: 40vw;
}
.feedback-img>img
{
    width: clamp(10rem,30vw,22rem);
}
.feedback-form
{
    padding: 0 clamp(2rem,10vw,10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-form >form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
}

#mail,#add,#item
{
    width: clamp(5rem,40vw,40rem);
    border: none;
    border-bottom: 3px solid black;
    font-size: clamp(1em,2vw,1.3em);
    background: transparent;
}
#mail:focus,#add:focus
{
    outline: none;
    border-bottom: 3px solid black;
}
label{
    font-size: clamp(.8em,2vw,1.2em);
    font-weight: 900;
    letter-spacing: 1px;
}
#item:focus
{
    outline: none;
}
#item
{
    /* background: yellow; */
    padding-top: clamp(1rem,3vw,3rem);
}

#check
{
    margin: clamp(.5em,1vw,1em) 0;
    font-size: clamp(.9em,2vw,1.2em);
    font-weight: 700;
}
.feedback-form  button
{
    width: clamp(5rem,12vw,10rem);
    height: clamp(2rem,4vw,3rem);
    margin: auto;
    font-size: clamp(.7em,2vw,1.2em);
    font-weight: bold;
    background: black;
    color: white;
    letter-spacing: 2px;
}
.feedback-form  button:hover
{
    background: rgb(53, 50, 50);
}
.feedback-form  button:active
{
    background: transparent;
    color: black;
}

.feedback-form a
{
    color: blue;
    text-decoration: none;
}
.feedback-form a:active
{
    color: rgb(42, 42, 122);
}
@media screen and (max-width : 622px) {
    .feedback-main
{
    /* background: purple; */
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 1rem;
    align-items: center;
}
.feedback-img
{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* background: yellow; */
}
.feedback-form
{
    width: 80vw;
    /* background: rgb(255, 244, 224); */
    padding: 1rem clamp(2rem,10vw,10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
#mail,#add,#item
{
    width: 80vw;
    border: none;
    border-bottom: 3px solid black;
    font-size: clamp(1em,2vw,1.3em);
    background: transparent;
}
}
